.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* chat box section */
.chatbox {
  width: 97vw;
  max-width: 500px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  scroll-behavior: auto;
  position: relative;
}

/* about client */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;

  background-color: rgba(222, 22, 142, 0.4);
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px 7px;
  color: #ddd;

  border-color: #00AA66;
  font-size: 21px;
}

.rotated {
  font-family: 'bungee-rotated', 'Bungee', cursive;
}

.link {
  color: yellowgreen;
  text-decoration: none;
  cursor: pointer;
}

.chats {
  width: 99%;
  padding: 0 0 0 5px;
  color: #fff;
  position: relative;
  font-size: 0.9em;
  height: calc(100vh - 112px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.mychat {
  margin-left: auto;
}


.post {
  border: 1px solid #20344f;
  border-radius: 20px;
  padding: 5px 8px 5px 5px;
  margin: 5px;
  width: auto;
  display: inline-block;
  background: rgba(234, 122, 232, 0.2);
}

.timer {
  margin-left: 38px;
  font-size: 11px;
  color: #de9;
}

.avatar {
    background: #20344f;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 27px;
    line-height: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-family: Luminari;
}

.title {
  margin-left: 5px;
  color: #eee;
  font-size: 17px;
  width: 30px;
  height: 30px;
}
