@font-face {
    font-family: "bungee-rotated";
    src: url("../public/fonts/bungee-rotated.otf");
}

@font-face {
    font-family: "Luminari";
    src: url("../public/fonts/Luminari-Regular.ttf");
}

body {
    background: #20344f;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
