.form {
    display: flex;
    margin: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    padding: 5px;
}

input[type="text"].input {
    font-size: 20px;
    color: #00AA66;
    flex-grow: 2;
    border: none;
    outline: none;
    padding-left: 10px;
    background: transparent;
}

input[type="text"].input:focus {
  outline: none;
  color: #eee;
}

.button {
    width: 50px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    color: #00AA66;
    border-color: #00AA66;
    border-style: solid;
    border-radius: 0 30% 30% 0;
}
.button:hover {
    background: #00AA66;
    color: white;
    opacity: .7;
}